

%unset-hovering-df {
  transition: unset;
    
  &:hover {
    background-color: unset;
    border-color: transparent;
  }
}


%no_selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}