@import "./Defs";

#root {
  max-width: 99vw;
  margin-inline: auto;
  box-sizing: border-box;
  --icon-size: 64px;
}

nav.Navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  > span.NavLink {
    color: white;
    cursor: pointer;
    font-weight: 800;
    text-align: center;
    height: 36px;
    line-height: 36px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    transition-property: color, padding, border;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    box-sizing: border-box;

    &:hover {
      color: $Uncommon-color;
      border-top: 2px solid transparent;
      border-bottom: 2px solid $Uncommon-color;
    }

    &.Active {
      color: $Epic-color;
      border-top: 4px solid transparent;
      border-bottom: 4px solid $Epic-color;
    }
  }

}

@media (min-width: 1000px) {
  
  .MainWrapper {
    display: grid;
    grid-template-columns: 1fr 480px;
  }

}

@media (max-width: 999px) {
  nav.Navigator {
    overflow-x: scroll;
    flex-wrap: nowrap;
    align-items: normal;
    justify-content: unset;
    
    > span.NavLink {
      white-space: nowrap;
    }
  }
}
