@import "./Defs";

#root {
  padding-block: 2rem;
  padding-inline: max(calc(50vw - 500px), 2rem);
  --icon-size: 80px;
}

.App > nav.Navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  > span.NavLink {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    padding-inline: 1rem;
    flex-grow: 1;
    justify-content: center;
    border-bottom: 0px solid transparent;
    transition-property: color, padding, border;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    box-sizing: border-box;

    &:hover  {
      color: $Uncommon-color;
      border-bottom: 3px solid $Uncommon-color;
    }

    &.Active {
      color: $Epic-color;
      border-bottom: 6px solid $Epic-color;
    }
  }
}


.SkillIncCaliArea {
  padding-inline: 2rem;
  padding-bottom: 2rem;
}


@media (max-width: 768px) {
  #root {
    padding: 0.25rem;
  }
  .App > nav.Navigator {
    overflow-x: scroll;
    flex-wrap: nowrap;
    align-items: normal;
    justify-content: unset;
    
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    > span.NavLink {
      white-space: nowrap;
      font-size: 1rem;
      padding: 0.7rem;
    }
  }
}