@import "./Defs";

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display:none;
}

:root {
  --color-epic: #ffd15b;
  --color-unique: #ffa2f7;
  --color-rare: #b993ff;
  --color-uncommon: #6ad5ff;
  --color-common: #ededed;
}

#root {
  box-sizing: border-box;
  --icon-size: 64px;
  min-width: 360px;
}

.MainWrapper {
  margin-inline: auto;
}

label {
  @extend %no_selection;
}

nav.Navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

}

@media (min-width: 1000px) {
  
  .MainWrapper {
    display: grid;
    grid-template-columns: 1fr 480px;
  }

}

@media (max-width: 999px) {
  nav.Navigator {
    overflow-x: scroll;
    flex-wrap: nowrap;
    align-items: normal;
    justify-content: unset;
    
    > span.NavLink {
      white-space: nowrap;
    }
  }
}
