@import "./defs.scss";

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display:none;
}

#root {
  box-sizing: border-box;
  --icon-size: 64px;
  min-width: 360px;
}

label {
  @extend %no_selection;
}

nav.MainNav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 2px 8px;
  border-bottom: 1px solid rgba(127, 104, 72, 0.771);
  background-color: rgba(44, 36, 33, 0.75);
  backdrop-filter: blur(20px);
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

}


@media (max-width: 999px) {
  nav.MainNav {
    overflow-x: scroll;
    flex-wrap: nowrap;
    align-items: normal;
    justify-content: unset;
    
    > span.NavLink {
      white-space: nowrap;
    }
  }
}
