@import "./Defs";

.Physc { --attr-value-color: rgb(255, 145, 0); }
.Magic { --attr-value-color: rgb(92, 163, 255); }

.Fire, .el_fire { --attr-value-color: rgb(253, 136, 113); }
.Ice , .el_ice { --attr-value-color: rgb(84, 151, 252); }
.Light, .el_lght { --attr-value-color: rgb(223, 246, 133); }
.Dark, .el_dark  { --attr-value-color: rgb(209, 165, 238); }



.AttrOne {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background-color: rgba($color: #000000, $alpha: 0.3);

  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}

.KeyName {
  @extend %no_selection;
  font-weight: 500;
  font-size: 80%;
}

.AttrValue {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--attr-value-color, white);
  font-weight: 900;
}

img.AttrIcon {
  height: 1.2rem;
  mix-blend-mode: screen;
}


.MyStat {

  .InputGroup label {
    flex-basis: 50px;
  }

  input[type=text], input[type=number] {
    width: 50px;
    flex-shrink: 1;
    text-align: center;
    height: 20px;
  }

  .DisposableInput input[type=number] {
    background-color: transparent;
  }


  .AttrOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 2px;
    font-size: 1rem;
    min-height: 26px;

    &.Vertical {
      flex-direction: column;
    }

    &.Horizontal {
      flex-direction: row;
    }

    .KeyName {
      text-align: center;
      flex-basis: 30px;
      flex-grow: 1;
    }

    .AttrValue {
      flex: 5;
    }

  }

  .SkillInc .KeyName {
    flex-basis: content;
    width: 50px;
  }

  .Pure {
    color: var(--attr-value-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: 400;
    opacity: 0.6;
    
  }

  .Result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 0;
    padding: 2px;
    font-size: 1rem;
    min-height: 26px;
  }

  .Result .AttrValue {
    font-size: 1.2rem;
  }
}

.SkillTestSet {

  display: flex;
  flex-direction: column;
  gap: 2px;

  .Result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    .AttrValue {
      font-size: 1.5rem;
    }
  }

  .SkillTestOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: 999px) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;

      .SkillOneAttack {
        grid-column: 1 / -1;
      }

      .Result .AttrValue {
        font-size: 1.15rem;
      }
    }
  }

}

.SkillOneAttack {

  
  .InputGroup {
    input {
      width: 60px !important;
    }
  }

  > .SkillName {
    grid-column: 1 / 3;
    justify-self: stretch;
    text-align: left;
  }
  > .SkillUsesInc {
    grid-column: 1 / 3;
  }

}

@media (max-width: 999px) {
  .SkillTestSet .KeyName {
    font-size: 0.7rem;
  }
  .SkillTestSet .Result .AttrValue {
    font-size: 1rem;
  }
  
}
