@import "./Defs";

$Physc: rgb(255, 145, 0);
$Magic: rgb(92, 163, 255);

$Fire: rgb(253, 136, 113);
$Ice: rgb(84, 151, 252);
$Light: rgb(223, 246, 133);
$Dark: rgb(209, 165, 238);



.AttrOne {
  display: inline-block;

  border-radius: 10px;
  background-color: rgba($color: #000000, $alpha: 0.3);

  padding: 0.25rem;
  font-size: 0.9rem;
}

.Result {
  background-color: transparent;
  .AttrName {
    color: white;
  }
}

.AttrName {
  font-weight: 500;
  font-size: 0.8rem;
}

.AttrValue {
  color: white;
  font-weight: 900;

  .Physc &, &.Physc { color: $Physc; }
  .Magic &, &.Magic { color: $Magic; }

  .el_fire &, .eldmg_fire & { color: $Fire; }
  .el_ice & , .eldmg_ice & { color: $Ice; }
  .el_lght &, .eldmg_lght & { color: $Light; }
  .el_dark &, .eldmg_dark & { color: $Dark; }
}

.IconAttrs {
  display: flex;
  .IconAttrOne {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    span {
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
}

img.AttrIcon {
  height: 1.2rem;
  mix-blend-mode: screen;
}




.MyStat {
  .InputGroup label {
    flex-basis: 50px;
  }
}

.MyStat {

  input[type=text], input[type=number] {
    flex-shrink: 1;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border: none;
  }

  .DisposableInput input[type=number] {
    background-color: transparent;
  }

  h4 {
    margin-block: 0.5rem;
    font-weight: 800;
    color: white;
  }

  .Percented input {
    width: 30px;
  }

  .AttrOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    padding: 2px;

    &.Vertical {
      flex-direction: column;
    }

    &.Horizontal {
      flex-direction: row;
    }

    &.Responsive {
      flex-direction: row;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

  }

  .Pure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .AttrValue {
      font-size: 0.6rem;
      font-weight: 400;
      opacity: 0.6;
    }
    
  }

  .Result .AttrValue {
    font-size: 1.2rem;
  }
}

.SkillTestSet {

  display: flex;
  flex-direction: column;
  gap: 2px;

  .AttrOne {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.1rem;

    &.Horizontal {

      flex-direction: row;
      gap: 1rem;
    }

    .AttrName {
      font-size: 1rem;
    }
  }
  

  .AttrValue {
    font-size: 1.5rem;
  }

  .Result {
    font-size: 1.1rem;
  }

  .SkillTestOne {
    display: grid;
    grid-template-columns: 3fr repeat(3, 2fr);

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;

      .SkillInputOne {
        grid-column: 1 / -1;
      }
    }
  }

}

.SkillInputOne {

  padding: 0.1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  justify-items: stretch;

  gap: 2px;
  
  input {
    width: unset !important;
  }

  .InputGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    input {
      width: 60px !important;
    }
  }

  > .SkillName {
    grid-column: 1 / 3;
    justify-self: stretch;
    text-align: left;
  }
  > .SkillUsesInc {
    grid-column: 1 / 3;
  }

}

@media (max-width: 768px) {
  .SkillTestSet .AttrName {
    font-size: 0.7rem;
  }
  .SkillTestSet .Result .AttrValue {
    font-size: 1rem;
  }
  
}
