@import "./_Defs.scss";


.Emblem {
  --icon-size: var(--emblem-size, 30px);
  
  .EmblemLevel {
    position: absolute;
    right: 0.25rem;
    bottom: 0;
    width: var(--frame-size);
    text-align: right;
    z-index: 2;
    color: white;
    font-weight: 900;
    text-shadow: 0px 3px 6px black, 0px 3px 5px black, 0px 2px 4px black, 0px 1px 3px black;
    @extend %no_selection;
  }

}

.ItemIcon {
  --icon-size: var(--item-size, 64px) !important;
}

.Card {
  --icon-size: var(--card-size, 30px) !important;
}

@media screen and (max-width: 999px) {
  .Equips .Emblem {
    --emblem-size: 21px;

    .EmblemLevel {
      font-size: 0.75rem;
    }
  }
}



.Equips {
  .ItemName:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}



.EquipsArrayLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  align-items: start;
  gap: 4px;

  @media screen and (max-width: 999px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row;
  }
}


.EquipSlot {

  .ItemIcon {
    --item-size: 64px;
  }

  .Card {
    --card-size: 36px;
  }

  @media screen and (max-width: 999px) {
    .SquareIcon.Card {
      --card-size: 21px;
    }
  }

  .RadioGroup > .RadioOne > input + label {
    font-size: 0.9rem;
    min-height: 24px;
  }
}


.AlwaysEquipPartLayout {
  display: grid;
  grid-template-areas: 
  "im nm mgp"
  "im xt mgp"
  "op op op"
  ;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr auto;
  
  
  .SquareIcon {
    grid-area: im;
  }

  .SquareIcon.Card {
    --card-size: 36px;
  }
  
  .SlotHeading {
    grid-area: nm; 
  }

  .EquipAddons {
    grid-area: xt;
    align-self: end;
    
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .AvatarAttrs {
    grid-area: xt;
  }
}

@media screen and (min-width: 1000px) {

  .EquipPartLayout {
    display: grid;
    grid-template-areas: 
    "im nm mgp"
    "im xt mgp"
    "op op op"
    ;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    
    
    .SquareIcon {
      grid-area: im;
    }
    
    .SlotHeading {
      grid-area: nm; 
    }

    .EquipAddons {
      grid-area: xt;
      align-self: end;
      
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 999px) {
  .Equips {
    .EquipPartLayout {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
    }
    .EquipAddons {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
    }
  }
  
}


.EquipBatchLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;

  @media screen and (max-width: 999px) {
    display: flex;
    flex-direction: column;
    bottom: 0;
  }
}

.EquipUpgradeValue {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: $Epic-color;
  input {
    width: 2.5rem !important;
    text-align: left;
    font-size: 1rem;
    background-color: transparent;
    color: inherit;
  }
}

.MagicPropsArray {
  grid-area: mgp;
  align-self: stretch;
  
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;

  &, * {
    @extend %no_selection;
  }
  &.ForEpic {

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    > .MagicPropOne:first-child {
      background-color: rgba($color: #0d0905, $alpha: 0.5);
      grid-column: 1 / -1;
    }
  }

  
  
}


.DF_Title {
  .DF_Titles {
    display: flex;
    
    .EquipPartLayout {
      flex-grow: 1;
    }
  }
}
