@import "./defs.scss";


.Emblem {
  --icon-size: var(--emblem-size, 30px);
  
  .EmblemLevel {
    position: absolute;
    right: 0.25rem;
    bottom: 0;
    width: var(--frame-size);
    text-align: right;
    z-index: 2;
    color: white;
    font-weight: 900;
    text-shadow: 0px 3px 6px black, 0px 3px 5px black, 0px 2px 4px black, 0px 1px 3px black;
    @extend %no_selection;
  }

}

.ItemIcon {
  --icon-size: var(--item-size, 64px) !important;
}

.Card, .Artifact, .Spell {
  --icon-size: var(--card-size, 30px) !important;
}

@media screen and (max-width: 999px) {
  .Equips .Emblem {
    --emblem-size: 21px;

    .EmblemLevel {
      font-size: 0.75rem;
    }
  }
  .ItemIcon {
    --icon-size: var(--item-size, 52px) !important;
  }
  .Card {
    --icon-size: var(--card-size, 30px) !important;
  }
  
}



.Equips {
  .ItemName:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}



.EquipSlot {

  .ItemIcon {
    --item-size: 58px;
  }

  .Card {
    --card-size: 36px;
  }

  @media screen and (max-width: 999px) {
    .ItemIcon {
      --item-size: 52px;
    }
    .SquareIcon.Card {
      --card-size: 21px;
    }
  }

}


.AlwaysEquipPartLayout {
  display: grid;
  grid-template-areas: 
  "im nm mgp"
  "im xt mgp"
  "op op op"
  ;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr auto;
  
  
  .SquareIcon {
    grid-area: im;
  }

  .SquareIcon.Card {
    --card-size: 36px;
  }
  
  .SlotHeading {
    grid-area: nm; 
  }

  .PartAddons {
    grid-area: xt;
    align-self: end;
    
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 1000px) {

  .EquipPartLayout {
    display: grid;
    grid-template-areas: 
    "im nm mgp"
    "im xt mgp"
    ;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    
    
    .SquareIcon {
      grid-area: im;
    }
    
    .SlotHeading {
      grid-area: nm; 
    }

    .PartAddons {
      grid-area: xt;
      align-self: end;
      
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 999px) {
  .Equips {
    .EquipPartLayout {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
    }
    .PartAddons {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
    }
  }
  
}


.EquipBatchLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;

  @media screen and (max-width: 999px) {
    display: flex;
    flex-direction: column;
    bottom: 0;
  }
}

.EquipUpgradeValue {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--color-epic);
  input {
    width: 2rem !important;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 900;
    background-color: transparent;
  }

}


.DF_Title {
  .DF_Titles {
    display: flex;
    
    .EquipPartLayout {
      flex-grow: 1;
    }
  }
}


.CondContainerName {
  text-align: center;
  font-weight: 800;
  color: white;
  margin-block: 0.5rem;
}
