@import "./_Defs.scss";


.Emblem {
  --icon-size: 40px;
  
  
  .EmblemLevel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--frame-size);
    text-align: center;
    z-index: 2;
    color: white;
    font-weight: 900;
    text-shadow: 0px 3px 6px black, 0px 3px 5px black, 0px 2px 4px black, 0px 1px 3px black;
  }
}

.ItemIcon.CardSocket {
  --icon-size: 48px;
}


.EquipGridBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  align-items: stretch;
  gap: 4px;
}

.EquipSlot {

  @extend %hovering-df;
  @extend %bordered;

  .RadioGroup > .RadioOne > input[type=radio] + label {
    font-size: 0.9rem;
    min-height: 24px;
  }
}

.EquipPartInnerGrid {
  display: grid;
  grid-template-areas: 
  "im nm mgp"
  "im xt mgp"
  "op op op"
  ;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  

  .ItemIcon {
    grid-area: im;
  }
  
  .SlotHeading {
    grid-area: nm; 
  }

  .EquipCardEmblemUpgrade {
    grid-area: xt;
    align-self: end;
    
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.EquipBatch {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width:768px) {
    display: flex;
    flex-direction: column;
  }
}




@media screen and (min-width:769px) {
.EquipGridBox > * {
  &:nth-child(1) {
    grid-area: 1 / 2 / 2 / 3;
  }
  &:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }
  &:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
  }
}

}


.EquipUpgradeValue {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: $Epic-color;
  input {
    width: 2.5rem !important;
    text-align: left;
    font-size: 1rem;
    background-color: transparent;
    color: inherit;
  }
}

.MagicPropsArray {
  grid-area: mgp;
  align-self: stretch;
  
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  
  .IconAttrs {
    @extend %hovering-df;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-inline: 0.5rem;
    img.AttrIcon {
      height: 1.25rem;
    }
  }
  
  &.ForEpic .IconAttrs:first-child {
    background-color: rgba($color: #0d0905, $alpha: 0.5)
  }
}



.EmblemArray {
  display: flex;
  flex-direction: row;
}

.ISetCondArray {
  display: grid;
  grid-template-columns: 1fr 1fr;


  .ISetCondOne {
    display: flex;
    flex-direction: column;

    .ISetName {
      font-weight: 800;
      color: white;
      text-align: center;
      margin-block: 0.5rem;
    }
  }
}




.DF_Title {
  .DF_Titles {
    display: flex;
    
    .EquipPartInnerGrid {
      flex-grow: 1;
    }
  }
}

.Avatars {
  
  .AvatarsGridBox {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-auto-flow: column;
    gap: 4px;

    > :first-child {
      grid-area: 1 / 1 / 2 / 3
    }
    
    .AvatarPart {
      @extend %hovering-df;
      @extend %bordered;
      
      display: grid;
      grid-template-areas: 
      "icon heading"
      "icon attrs"
      ;

      grid-template-rows: auto 1fr;
      grid-template-columns: auto 1fr;

      .AvatarIcon {
        grid-area: icon;
      }

      .SlotHeading {
        grid-area: heading;
      }

      .AvatarAttrs {
        grid-area: attrs;
      }
    }
  }
}

@media (max-width: 768px) {
  .Equips {
    .EquipGridBox {
      display: flex;
      flex-direction: column;
      align-items: normal;
    }
  }

  .Avatars .AvatarsGridBox {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  .ISetCondArray {
    display: flex;
    flex-direction: column;
  }
}
