@import "./Defs";

/* See https://reactcommunity.org/react-modal/styles/classes/#for-the-documentbody-and-html-tag */
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.ReactModal__Content {

  outline: none;
  background-color: var(--modal-back);
  height: 60vh;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  padding: 20px;

  text-align: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .CloseModalButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    z-index: 4;
  }


  .CurrentPartItem {
    width: 300px;
    margin: auto;
  }

  .EmblemLevelInput {
    width: 2rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
  }

}

.ModalMenuScrollable {
  overflow-y: scroll;
  margin: auto;
  max-width: 80vw;
  height: 40vh;
}

.ItemSelectArray {
  --item-size: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}

.ItemShotgunArray {
  --item-size: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.1rem;

  .EquipShotgun {
    
    padding: 4px;

    .IsetName {
      margin-block: 0.1rem;
      font-weight: 700;
    }

    .IsetIconArray {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

.EmblemSelectArray {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
  grid-auto-rows: 1fr;

  .ModalEmblemSelect {
    display: flex;
    align-items: center;
    justify-content: center;

    .RoundIcon.Emblem {
      --emblem-size: 60px;
    }
  }
  

}

.CrackIcon {
  --icon-size: 64px;
}

@media (min-width: 1000px) {
  .ReactModal__Content {
    .ModalItemSelect {
      position: relative;
      .ItemNameResponsive {
        display: none;
      }
    }

    .ModalItemSelect:hover {
      .ItemNameResponsive {
        display: inline;
        position: absolute;
        padding: 1rem;
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: 4;
        left: 0;
        top: 100%;
        white-space: nowrap;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 999px) {
  .ReactModal__Content {
    height: 80vh;
    padding: 10px;

    .ModalMenuScrollable {
      height: 60vh;
    }

    .ModalItemSelect {
      display: flex;
      .ItemNameResponsive {
        display: block;
      }
    }
  }

  .ItemSelectArray {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    align-content: center;
    justify-content: center;
  }

  .ItemSelectArray, .ItemShotgunArray {
    --item-size: 36px;
    font-size: 0.8rem;
  }
}
