:root {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(247, 224, 195, 0.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: url('/img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
  background-color: rgb(51, 44, 37);
  --modal-back: rgba(0, 0, 0, 0.5);
}

a {
  font-weight: 700;
  color: #ffd15b;
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1e191580;

}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0.9em;
}
h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

header {
  margin-block: 1.5rem;
  text-align: center;
}

header :is(h1, h2, h3, h4, h5, h6) {
  margin-block: 0;
}

input {
  font-family: inherit;
  font-weight: inherit;
  text-align: right;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type=text], input[type=number] {
  background-color: #090704;
  border: 1px solid rgba(111, 102, 93, 0.843);
  outline: none;
  border-radius: 2px;
  padding: 0.2rem;
  font-size: 0.9rem;
  width: 50px;
}

button {
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #af6b04;
  cursor: pointer;
  color: white; /* for iOS */
}


footer {
  padding: 4rem;
  text-align: center;
}

footer .about {
  opacity: 0.6;
  font-size: 0.9rem;
}

.Transparent {
  opacity: 0.5;
}