:root {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(247, 224, 195, 0.8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: url('/img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
  background-color: rgb(51, 44, 37);
  --modal-back: rgba(0, 0, 0, 0.5);
  --item-size: 64px;
  --emblem-size: 30px;
  --card-size: 36px;

}

a {
  font-weight: 700;
  color: #ffd15b;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1e191580;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0.9em;
  font-weight: 800;
  text-align: center;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.75rem; }

header {
  margin-block: 1rem;
  text-align: center;
}

header :is(h1, h2, h3, h4, h5, h6) {
  margin-block: 0;
}

header > :is(h1, h2, h3, h4, h5, h6, div):not(:first-child) {
  font-weight: 300;
}

input {
  font-family: inherit;
  font-weight: inherit;
  text-align: right;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type=text], input[type=number] {
  background-color: rgba(0, 0, 0, 0.51);
  border: 1px solid rgba(111, 102, 93, 0.8);
  outline: none;
  border-radius: 2px;
  padding: 0.2rem;
  font-size: 0.9rem;
}

button {
  border-radius: 20px;
  border: none;
  min-height: 22px;
  padding-inline: 8px;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: inherit;
  background-color: #af6b04;
  cursor: pointer;
  color: white; /* for iOS */
}


footer {
  padding: 4rem;
  text-align: center;
}

footer .about {
  opacity: 0.6;
  font-size: 0.9rem;
}

.Transparent {
  opacity: 0.5;
}